# Build output
build/
passwdmngr

# TODO: remove
# Leftover from a first attempt
src.old/
include.old/

# Compiled resources
*.gresource
*.gresource.c

# .ui files under data/ are from blueprint
data/*.ui

# Object files
*.o
*.lo
*.la
*.al

# Executables
a.out

# Debug files
*.gdb
*.log

# Editor/IDE files
*.swp
*.swo
*.kate-swp
*.vscode/
*.idea/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db
