# Build output
build/
passwdmngr

# Compiled resources
*.gresource
*.gresource.c
resources/generated/

# Object files
*.o
*.lo
*.la
*.al

# Executables
a.out

# Debug files
*.gdb
*.log
.gdb_history

# Editor/IDE files
*.swp
*.swo
*.kate-swp
*.vscode/
*.idea/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db
