<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product
    Id="*"
    Name="Password Manager"
    Language="1033"
    Version="$(var.Version).0"
    Manufacturer="Samuel Field"
    UpgradeCode="c2f7b4e1-6b9a-4c2e-9f1a-3a7d9c1e4b22">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <MajorUpgrade
      AllowDowngrades="no"
      DowngradeErrorMessage="A newer version of Password Manager is already installed." />

    <Feature
      Id="MainFeature"
      Title="Password Manager"
      Level="1"
      AllowAdvertise="no"
      ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="AppComponents" />
      <ComponentGroupRef Id="ShortcutComponents" />
    </Feature>

    <Icon Id="AppIcon" SourceFile="resources/icons/hicolor/128x128/apps/logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

  </Product>

  <!-- Directory structure -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerDir" Name="Samuel">
          <Directory Id="INSTALLFOLDER" Name="passwdmngr" />
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="PasswdMngrProgramMenuDir" Name="passwdmngr" />
      </Directory>
    </Directory>
  </Fragment>

  <!-- Start Menu shortcut -->
  <Fragment>     
    <ComponentGroup Id="ShortcutComponents">
      <Component Id="cmp_StartMenuShortcut" Guid="f2d3e4a5-c7b8-4d9e-9f51-223344556677" Directory="PasswdMngrProgramMenuDir">
        <Shortcut
          Id="PasswdMngrShortcut"
          Name="Password Manager"
          Description="Password Manager"
          Target="[INSTALLFOLDER]passwdmngr.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIcon"
          IconIndex="0" />
        <RemoveFolder Id="RemovePasswdMngrProgramMenuDir" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\Samuel\passwdmngr"
          Name="installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>

    </ComponentGroup>
  </Fragment>

</Wix>