[Desktop Entry]
Type=Application
Name=Password Manager
Comment=Secure password manager
Exec=passwdmngr
Icon=passwdmngr
Terminal=false
Categories=Utility;