<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product
    Id="*"
    Name="Password Manager"
    Language="1033"
    Version="1.0.0.0"
    Manufacturer="Samuel Field"
    UpgradeCode="c2f7b4e1-6b9a-4c2e-9f1a-3a7d9c1e4b22">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <MajorUpgrade
      AllowDowngrades="no"
      DowngradeErrorMessage="A newer version of Password Manager is already installed." />

    <Feature
      Id="MainFeature"
      Title="Password Manager"
      Level="1"
      AllowAdvertise="no"
      ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="MainComponents" />
      <ComponentGroupRef Id="ShortcutComponents" />
    </Feature>

    <Icon Id="AppIcon" SourceFile="resources/icons/hicolor/128x128/apps/logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

  </Product>

  <!-- Directory structure -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerDir" Name="Samuel">
          <Directory Id="INSTALLFOLDER" Name="passwdmngr" />
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="PasswdMngrProgramMenuDir" Name="passwdmngr" />
      </Directory>
    </Directory>
  </Fragment>

  <!-- Components -->
  <!-- <Fragment>
    <ComponentGroup Id="MainComponents"> -->

      <!--
      Main executable
      <Component Id="cmp_passwdmngr_exe" Guid="a1b2c3d4-e5f6-47a8-9b10-112233445566" Directory="INSTALLFOLDER">
        <File Id="fil_passwdmngr_exe" Source="$(var.AppDir)\passwdmngr.exe" KeyPath="yes" />
      </Component>

      Core GTK/GLib/JSON
      <Component Id="cmp_libgtk_4_1" Guid="b7e3f9c1-2a4d-4f8c-9e11-223344556677" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libgtk-4-1.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libgdk_pixbuf" Guid="c8f4a1b2-3c5e-4d9f-8a12-334455667788" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libgdk_pixbuf-2.0-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libgio" Guid="d9a5b2c3-4d6f-4e1a-9b13-445566778899" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libgio-2.0-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libgobject" Guid="e1c2d3f4-5a7b-4c8d-9e14-556677889900" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libgobject-2.0-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libglib" Guid="f2d3e4a5-6b8c-4d9e-8f15-667788990011" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libglib-2.0-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libgmodule" Guid="a3e4f5b6-7c9d-4e1f-9a16-778899001122" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libgmodule-2.0-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libgthread" Guid="b4f5a6c7-8d1e-4f2a-9b17-889900112233" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libgthread-2.0-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libjson_glib" Guid="c5a6b7d8-9e2f-4a3b-8c18-990011223344" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libjson-glib-1.0-0.dll" KeyPath="yes" />
      </Component>

      Cairo / rendering
      <Component Id="cmp_libcairo" Guid="d6b7c8e9-a1f2-4b3c-9d19-001122334455" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libcairo-2.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libcairo_gobject" Guid="e7c8d9f1-b2a3-4c4d-8e20-112233445566" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libcairo-gobject-2.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libepoxy" Guid="f8d9e1a2-c3b4-4d5e-9f21-223344556677" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libepoxy-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libgraphene" Guid="a9e1f2b3-d4c5-4e6f-8a22-334455667788" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libgraphene-1.0-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libpixman" Guid="b1f2a3c4-e5d6-4f7a-9b23-445566778899" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libpixman-1-0.dll" KeyPath="yes" />
      </Component>

      Pango / text shaping
      <Component Id="cmp_libpango" Guid="c2a3b4d5-f6e7-4a8b-8c24-556677889900" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libpango-1.0-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libpangocairo" Guid="d3b4c5e6-a7f8-4b9c-9d25-667788990011" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libpangocairo-1.0-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libpangoft2" Guid="e4c5d6f7-b8a9-4c1d-8e26-778899001122" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libpangoft2-1.0-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libpangowin32" Guid="f5d6e7a8-c9b1-4d2e-9f27-889900112233" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libpangowin32-1.0-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libharfbuzz" Guid="a6e7f8b9-d1c2-4e3f-8a28-990011223344" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libharfbuzz-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libharfbuzz_gobject" Guid="b7f8a9c1-e2d3-4f4a-9b29-001122334455" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libharfbuzz-gobject-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libfribidi" Guid="c8a9b1d2-f3e4-4a5b-8c30-112233445566" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libfribidi-0.dll" KeyPath="yes" />
      </Component>

      Image formats
      <Component Id="cmp_libpng" Guid="d9b1c2e3-a4f5-4b6c-9d31-223344556677" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libpng16-16.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libjpeg" Guid="e1c2d3f4-b5a6-4c7d-8e32-334455667788" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libjpeg-8.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libtiff" Guid="f2d3e4a5-c6b7-4d8e-9f33-445566778899" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libtiff-6.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libwebp" Guid="a3e4f5b6-d7c8-4e9f-8a34-556677889900" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libwebp-7.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libwebpdecoder" Guid="b4f5a6c7-e8d9-4f1a-9b35-667788990011" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libwebpdecoder-3.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libwebpdemux" Guid="c5a6b7d8-f9e1-4a2b-8c36-778899001122" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libwebpdemux-2.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libwebpmux" Guid="d6b7c8e9-a2f3-4b3c-9d37-889900112233" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libwebpmux-3.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libgif" Guid="e7c8d9f1-b3a4-4c4d-8e38-990011223344" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libgif-7.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libLerc" Guid="f8d9e1a2-c4b5-4d5e-9f39-001122334455" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libLerc.dll" KeyPath="yes" />
      </Component>

      Compression / charset
      <Component Id="cmp_zlib" Guid="a9e1f2b3-d5c6-4e7f-8a40-112233445566" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\zlib1.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_liblzma" Guid="b1f2a3c4-e6d7-4f8a-9b41-223344556677" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\liblzma-5.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libcharset" Guid="c2a3b4d5-f7e8-4a9b-8c42-334455667788" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libcharset-1.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libiconv" Guid="d3b4c5e6-a8f9-4b1c-9d43-445566778899" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libiconv-2.dll" KeyPath="yes" />
      </Component>

      Security / crypto
      <Component Id="cmp_libsodium" Guid="e4c5d6f7-b9a1-4c2d-8e44-556677889900" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libsodium-26.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libcrypto" Guid="f5d6e7a8-c1b2-4d3e-9f45-667788990011" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libcrypto-3-x64.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libssl" Guid="a6e7f8b9-d2c3-4e4f-8a46-778899001122" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libssl-3-x64.dll" KeyPath="yes" />
      </Component>

      Runtime support
      <Component Id="cmp_libffi" Guid="b7f8a9c1-e3d4-4f5a-9b47-889900112233" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libffi-8.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libgcc" Guid="c8a9b1d2-f4e5-4a6b-8c48-990011223344" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libgcc_s_seh-1.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libstdcxx" Guid="d9b1c2e3-a5f6-4b7c-9d49-001122334455" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libstdc++-6.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libwinpthread" Guid="e1c2d3f4-b6a7-4c8d-8e50-112233445566" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libwinpthread-1.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libintl_8" Guid="f3a4b5c6-d7e8-49f1-9a52-112233445577" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libintl-8.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libpcre2_8_0" Guid="a4b5c6d7-e8f9-4a1b-8c53-223344556688" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libpcre2-8-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libcairo_script_interpreter_2" Guid="b5c6d7e8-f9a1-4b2c-9d54-334455667799" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libcairo-script-interpreter-2.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libfontconfig_1" Guid="a7c8d9e1-f2b3-4c4d-9a61-112233445588" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libfontconfig-1.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libgstallocators_1_0_0" Guid="b8d9e1f2-a3c4-4d5e-8b62-223344556699" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libgstallocators-1.0-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libgstgl_1_0_0" Guid="c9e1f2a3-b4d5-4e6f-9c63-334455667700" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libgstgl-1.0-0.dll" KeyPath="yes" />
      </Component>

      <Component Id="cmp_libgstd3d12_1_0_0" Guid="d1f2a3b4-c5e6-4f7a-8d64-445566778811" Directory="INSTALLFOLDER">
        <File Source="$(var.AppDir)\libgstd3d12-1.0-0.dll" KeyPath="yes" />
      </Component> -->

  <!-- Start Menu shortcut -->
  <Fragment>     
    <ComponentGroup>
      <Component Id="cmp_StartMenuShortcut" Guid="f2d3e4a5-c7b8-4d9e-9f51-223344556677" Directory="PasswdMngrProgramMenuDir">
        <Shortcut
          Id="PasswdMngrShortcut"
          Name="Password Manager"
          Description="Password Manager"
          Target="[INSTALLFOLDER]passwdmngr.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIcon"
          IconIndex="0" />
        <RemoveFolder Id="RemovePasswdMngrProgramMenuDir" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\Samuel\passwdmngr"
          Name="installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>

    </ComponentGroup>
  </Fragment>

</Wix>